:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-grey: #a6a6a6;
  --basic-dim-grey: #666666;
  --basic-normal-grey: #c1c1c1;
  --basic-ultra-grey: #d5d5d5;
  --basic-grey-border: #D7DCDE;
  --basic-dark-grey: #888888;
  --basic-medium-grey: #dfdfdf;
  --basic-shades-charcoal: #444444;
  --basic-grafit: #283136;
  --basic-light-grafit: #4d4d4d;
  --basic-light-grey: #eeeeee;
  --basic-grey-lighter: #e1e1e1;
  --basic-red: #fb565a;
  --basic-dark-red: #e74246;
  --basic-green: #00ca74;
  --basic-dark-green: #00BC6C;
  --basic-more-dark-green: #00AA62;
  --basic-yellow: #efc849;
  --basic-dark-yellow: #EAB534;
  --basic-more-dark-yellow: #E5A722;
  --basic-more-dark-red: #d7373b;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-grafit);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

/* button */
.button {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  padding: 15px 40px;
  text-transform: uppercase;
  width: 160px;
  margin-top: 32px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-align: center;
  border: none;
  border-radius: 3px;
}

.red:hover {
  background-color: var(--basic-dark-red);
}

.red:active {
  background-color: var(--basic-more-dark-red);
  color: rgba(255, 255, 255, 0.233);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.green {
  background-color: var(--basic-green);
}

.green:hover {
  background-color: var(--basic-dark-green);
}

.green:active {
  background-color: var(--basic-more-dark-green);
  color: rgba(255, 255, 255, 0.233);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.yellow {
  background-color: var(--basic-yellow);
}

.yellow:hover {
  background-color: var(--basic-dark-yellow);
}

.yellow:active{
  background-color: var(--basic-more-dark-yellow);
  color: rgba(255, 255, 255, 0.233);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  margin-top: 38px;
  padding: 15px 54px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
}

.button-info:hover {
  background-color: var(--basic-dark-red);
}

.button-info:active {
background-color: var(--basic-more-dark-red);
color: rgba(255, 255, 255, 0.233);
box-shadow:  inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}

/*  Header */
.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-header-logo {
  display: flex;
  justify-self: start;
  grid-area: header-logo;
  outline: 5px solid rgba(200, 0, 0, 0.5);
  outline-offset: -5px;
}

.header-logo {
  margin-left: 5px;
}

.main-header-logo img:hover {
  opacity: 0.7;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.active::after{
  display: block;
  background-color: var(--basic-red);
  content: "";
  height: 2px;
  width: 100%;
}

.main-nav {
  padding-top: 48px;
  display: grid;
  grid-template-columns: 160px 1fr 115px;
  grid-template-areas: "header-logo list-navigation login-link";
  align-items: center;
  min-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}

.list-navigation {
  grid-area: list-navigation;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 45px;
  list-style: none;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.list-navigation a {
  display: block;
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
}

.list-navigation a:hover {
  color: var(--basic-red);
}

.list-navigation a:active {
  color: var(--basic-grey);
}

.user-navigation {
  display: block;
  position: relative;
  grid-area: login-link;
  outline: 5px solid rgba(200, 0, 0, 0.5);
  outline-offset: -5px;
}

.login-link {
position: relative;
margin-left: 35px;
}

.user-navigation .login-link  {
  color: var(--basic-black);
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.user-navigation a:hover {  
color: var(--basic-red);
}

.user-navigation a:focus {  
  color: var(--basic-grey);
}

.cart-logo {
  position: absolute;
  left: -25px;
  top: 4px;
}

/* Section */
.main-box {
  height: 431px;
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 760px;
  grid-template-areas: "main-block slide-block";
  line-height: 24px;
  font-size: 16px;
  color: var(--basic-grafit);
  background-color: var(--basic-light-grey);
  outline: 5px solid rgba(0, 47, 255, 0.7);
  outline-offset: -5px;
  margin: 0 auto;
  
}

.main-section-block {
  grid-area: main-block;
  outline: 5px solid rgba(166, 187, 47, 0.7);
  outline-offset: -5px;
}

.section-slide-block {
  position: relative;
  grid-area: slide-block;
  outline: 5px solid rgba(30, 158, 218, 0.7);
  outline-offset: -5px;
}

.slider {
  position: absolute;
  display: flex;
  column-gap: 17px;
  left: 139px;
  bottom: 96px;
}

.slider-background-logo {
  position: absolute;
  right: 15px;
  bottom: 5px;
}

.slider-button {
  border: none;
  padding: 5px;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-button:active::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-normal-grey);
  border-radius: 50%;
  opacity: 0.7;


}

.main-title {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  margin: 0;
  margin-top: 78px;
}

.paragraph-main-title {
  margin-left: 0;
  margin-top: 25px;
}

/* Order-Section */

.picture-list {
  padding: 0;
  margin: 0;
}

.orders-section {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 100px;
  grid-auto-rows: min-content;
  justify-content: start;
  padding: 0;
  padding-bottom: 80px;
  margin-top:  80px;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grafit);
  background-color: var(--basic-white);
  border-bottom: 2px solid var(--basic-light-grey);
  /* outline: 5px solid rgba(255, 0, 0, 0.7); */
  /* outline-offset: -5px; */
}

.picture-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  outline: 5px solid rgba(218, 30, 140, 0.7);
  outline-offset: -5px;
}

.order-title {
  margin-top: 25px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  /* margin-top: 25px; */
}

.order-description {
  margin-top: 0;
}

/* Present-section */
.present-list .present-items {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 23px;
  padding: 0;
}

.present-list {
  padding: 0;
}

.present-items::before {
  margin-right: 7px;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.present-section {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 651px 1fr;
  grid-template-areas: "present-section-block stat-section-block";
  color: var(--basic-grafit);
  font-size: 16px;
  line-height: 24px;
  background-color: var(--basic-white);
}

.present-section-block {
  grid-area: present-section-block;
  outline: 5px solid rgba(0, 47, 255, 0.7);
  outline-offset: -5px;
}

.stat-section-block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  grid-area: stat-section-block;
  text-align: center;
  outline: 5px solid rgba(18, 230, 230, 0.7);
  outline-offset: -5px;
}

.stat-list {
  display: flex;
  column-gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
}

.stat-section-logo {
  display: flex;
}

/* Statistic-percent */
.stat-title {
  margin-top: 37px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.stat-items sup {
  color: var(--basic-black);
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.stat-items-p {
  color: var(--basic-grafit);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: start;
  margin: 10px 0;
}

.present-title {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 0;
}

.present-description {
  margin-top: 30px;
}

.present-list-title {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 40px;
}

/* BRAND SECTION */
.brand-section {  
  /* outline: 5px solid rgba(166, 187, 47, 0.7); */
  outline-offset: -5px;
  margin-top: 73px;
  border-top: 2px solid var(--basic-light-grey);
  border-bottom: 2px solid var(--basic-light-grey);
  padding: 45px 45px;
}

.brand-list {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.brand-item {
display: flex;
align-items: center;
opacity: 0.4;
}

.brand-item:hover {
  opacity: 1;
}

.brand-item:active {
opacity: 0.1;
}

.brand-item:not(:last-child)::after {
  margin-left: 40px;
  display: block;
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--basic-light-grey);

}
/*MAP NAVIGATION*/

.map-section {
  padding: 0;
  margin: 0 auto;
  margin-top: 80px;
  outline-offset: -5px;
  outline: 5px solid rgba(218, 30, 140, 0.7);
}

.map-logo {
  width: 100%;
}

.map-container {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.pin {
  background-color: transparent;
  position: absolute;
  right: 330px;
  top: 70px;
}

/* Pop-up-section */

.preview {
  padding: 50px;
  left: 140px;
  top: 50px;
  position: absolute;
  width: 319px;
  height: 308px;
  outline-offset: -5px;
  outline: 5px solid rgba(85, 177, 10, 0.7); 
  background-color: var(--basic-white);
}

.preview-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: var(--basic-black);
}

.preview-adress {
  color: var(--basic-dim-grey);
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.phone-number {
  color: var(--basic-dim-grey);
  margin-bottom: 37px;        
}

.map-button {
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  background-color: var(--basic-red);
  padding: 15px 44px;
  width: 219px;
  height: 50px;
  margin-bottom: 47px;
}

.map-button:hover {
  background-color: var(--basic-dark-red);
}

.map-button:active {
  background-color: var(--basic-more-dark-red);
  color: rgba(255, 255, 255, 0.233);
  box-shadow:  inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.user-name {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

.user-address {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

/* Footer */
.main-footer {
  display: flex;
  column-gap: 10px;
  width: 1060px;
  margin-bottom: 68px;
  max-height: 81px;
  margin-top: 68px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--basic-white);
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.footer-describe-container {
  display: flex;
  row-gap: 10px;
  margin-left: 139px;
  flex-direction: column;
  justify-content: center;
}

.footer-icon-container {
  display: flex;
  order: -1;
  column-gap: 10px;
}

.footer-title {
  margin: 0;
  align-self: center;
  color: var(--basic-black);
  font-size: 36px;
  padding: 0;
  line-height: 36px;
  font-weight: 600;
}

.footer-description {
  margin: 0;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  flex-shrink: 0;
  order: -1;
  background-color: var(--basic-grey-lighter);
  border-radius:50%;
}

.footer-icon:hover {
  background-color: var(--basic-dark-red);
}

.footer-icon:active {
  background-color: var(--basic-more-dark-red);
  box-shadow: inset 0 3px 0 rgba(255, 0, 0,0.1);
}

.footer-icon:active .hide-in {
  opacity: 0.2;
}

.preview-description {
  color: var(--basic-shades-charcoal);
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

/*CATALOG*/
.header-title-box {
  background-color: var(--basic-light-grey);
  height: 355px;
  outline: 5px solid rgba(0, 47, 255, 0.7);
  outline-offset: -5px;
}

.catalog-box {
  margin-top: 55px;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  grid-template-areas: "aside sort-content";
  grid-auto-rows: min-content;
  display: grid;
  align-content: start;
  outline: 5px solid rgba(245, 4, 24, 0.7);
  outline-offset: -5px;
}

.catalog-title {
  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 108px;
}

.picture-items {
  min-height: 347px;
}

.container-aside {
  grid-area: aside;
  outline: 5px solid rgba(218, 30, 140, 0.7);
  outline-offset: -5px;
}

.field-grid {
  outline: 5px solid rgba(18, 230, 230, 0.7);
  outline-offset: -5px;
  margin-top: 54px;
  border: none;
}

.opt-field {
  border: none;
  outline: 5px solid rgba(18, 230, 230, 0.7);
  outline-offset: -5px;
  margin-top: 54px;
}

.opt-title  {
  color: var(--basic-black);
  line-height: 30px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.sort-content {
  grid-area: sort-content;
  outline: 5px solid rgba(0, 47, 255, 0.7);
  outline-offset: -5px;
}

.sort-content-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  outline: 5px solid rgba(166, 187, 47, 0.7);
  outline-offset: -5px;
}

.sort-list  {
  display: flex;
  column-gap: 25px;
  outline: 5px solid rgba(18, 230, 230, 0.7);
  outline-offset: -5px;
  padding: 0;
  margin-top: 0;
}

.control-box {
  outline: 5px solid rgba(200, 0, 0, 0.5);
  outline-offset: -5px;
}

.control-content  {
  margin-top: 48px;
  height: 80px;
  text-align: center;
  background-color: var(--basic-light-grey);
}

.cost-title {
  margin: 0;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.control {
  background: var(--basic-green);
  margin-top: 40px;
  width: 205px;
  height: 2px;
  -webkit-appearance: none;
}

.cost-description {
  display: flex;
  justify-content: space-between;
}

.cost-box {
  background-color: var(--basic-light-grey);
  border: none;
  text-align: center;
  height: 38px;
  width: 80px;
  float: right;
}

.cost-text {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 22px;
}

.cost-contain {
  column-gap: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 0px;
}

.sort-description {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.grid-title {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.radio-name {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 20px;
}

.button-sort {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.button-show {
  width: 260px;
  height: 50px;
  border: none;
  margin-top: 48px;
  text-align: center;
  color: var(--basic-black);
  font-weight: 600;
  background-color: var(--basic-light-grey);
}

.opt-name {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 20px;
}

/*CATALOG SORT GALLERY */
.main-image-content {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  width: 760px;
}

.product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.product-item-popup {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.pagination-content {
  display: flex;
  column-gap: 10px;
  margin-top: 54px;

}

/* POP-UP */
.modal-content  {
  display: block;
  padding: 60px 100px 0 100px;
  margin: 0 auto;
  text-align: start;
  position: fixed;
  z-index: 4;
  left: 195px;
  top: 20px;
  width: 960px;
  height: 590px;
  outline: 5px solid rgba(200, 0, 0, 0.5);
  outline-offset: -5px;
  background-color: var(--basic-white);
}

.login-form {
  position: relative;
}

.modal-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-content-wrapper input:hover {
  opacity: 1;
}

.popup-description {
  margin-top: 0;
}

.user-login,
.user-email {
  display: flex;
  border-radius: 3px;
  border: 2px solid var(--basic-dark-grey);
  padding-left: 16px;
  width: 360px;
  height: 50px;
}


.area-text {
  resize: none;
  width: 100%;
  padding: 16px;
  line-height: 18px;
  border-radius: 3px;
  border: 2px solid var(--basic-dark-grey);
  margin-top: 6px;
  
}

.login-form textarea {
  opacity: 0.2;
  max-height: 119px;
}

.login-form textarea:hover {
  opacity: 1;
}

.popup-description textarea::-webkit-input-placeholder {
  color: var(--basic-black);
  opacity: 1;
  }
  
  .popup-description textarea::-moz-placeholder {
    color: var(--basic-black);
    opacity: 1;
  }
  

.popup-button {
  background-color: var(--basic-red);
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  color: var(--basic-white);
  width: 259px;
  height: 50px;
  cursor: pointer;
  padding: 15px 15px;
  margin-top: 47px;
}

.popup-button:hover {
  background-color: var(--basic-dark-red);
}

.popup-button:active {
  background-color: var(--basic-more-dark-red);
  color: rgba(255, 255, 255, 0.233);
  box-shadow:  inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.popup-title {
font-weight: 700;
font-size: 45px;
line-height: 52px;
color: var(--basic-black);
text-align: start;
margin-top: 0px;
}

.popup-description input {
  margin-top: 6px;
  margin-bottom: 30px;
  opacity: 0.2;
}

.quote-area {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal-close {
  padding: 0;
  opacity: 0.2;
  background: none;
  border: none;
  position: absolute;
  right: 90px;
  top: 75px;
}

.modal-close:hover {
  opacity: 1;
  cursor: pointer;
}

.modal-close:active {
  opacity: 0.1;
  cursor: pointer;
}

.popup-description input::-webkit-input-placeholder {
color: var(--basic-black);
opacity: 1;
}

.popup-description input::-moz-placeholder {
  color: var(--basic-black);
  opacity: 1;
}

input:invalid {
  border-color: var(--basic-dark-red);
  color:  var(--basic-dark-red);
}







