:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-grey: #a6a6a6;
  --basic-dim-grey: #666666;
  --basic-normal-grey: #c1c1c1;
  --basic-ultra-grey: #d5d5d5;
  --basic-dark-grey: #888888;
  --basic-medium-grey: #dfdfdf;
  --basic-shades-charcoal: #444444;
  --basic-grafit: #283136;
  --basic-light-grafit: #4d4d4d;
  --basic-light-grey: #eeeeee;
  --basic-grey-lighter: #e1e1e1;
  --basic-red: #fb565a;
  --basic-dark-red: #e74246;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  width: 1440px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-grafit);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}


/* button */
.button {
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-align: center;
  border: none;
}

/*  Header */
.main-header {
margin: 0;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
}

.main-header-logo {
  order: 0;
  justify-self: start;
  outline: 5px solid rgba(200, 0, 0, 0.5);
  outline-offset: -5px;
}

.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  padding-top: 48px;
  padding-left: 140px;
  padding-right: 140px;
  line-height: 30px;
  font-size: 16px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}

.main-navigation-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr max-content;
  outline: 5px solid rgb(100, 0, 0, 0.4);
  outline-offset: -5px;
  width: 1200px;
  max-height: 140px;

}

.list-navigation {
  display: grid;
  grid-gap: 45px;
  grid-template-columns: repeat(4, min-content);
  justify-content: center;
  align-content: center;
  list-style: none;
  line-height: 30px;
  font-size: 16px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.user-navigation {
  justify-self: end;
  outline: 5px solid rgba(200, 0, 0, 0.5);
  outline-offset: -5px;
}

/* Section */
.main-section {
  display: grid;
  width: 100%;
  height: 431px;
  line-height: 24px;
  font-size: 16px;
  color: var(--basic-grafit);
  background-color: var(--basic-light-grey);
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: right;
  outline: 5px solid rgba(0, 47, 255, 0.7);
  outline-offset: -5px;
}

.main-title {
  padding-top: 78px;
  padding-left: 140px;
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
  margin: 0;
}

.paragraph-main-title {
  padding-left: 140px;
  margin: 0;
}

/* Order-Section */
.picture-list {
  padding: 0;
  margin: 0;
}

.orders-section {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grafit);
  background-color: var(--basic-white);
}

.order-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}

/* Present-section */
.present-list {
  margin: 0;
  padding: 0;
}

.present-section {
  color: var(--basic-grafit);
  font-size: 16px;
  line-height: 24px;
  background-color: var(--basic-white);
}

.present-title {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  margin: 0;
}

/* Statistic-percent */
.stat-title {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.stat-list {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 64px;
  font-weight: 600;
  color: var(--basic-black);
  text-align: center;
}

.brand-list {
  margin: 0;
  padding: 0;
}

.stat-items sup {
  color: var(--basic-black);
  font-size: 26px;
  line-height: 40px;
  font-weight: 400;
}

.stat-items-p {
  color: var(--basic-grafit);
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

/* Pop-up-section */
.preview-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: var(--basic-black);
  margin: 0;
}

.preview-description {
  color: var(--basic-dim-grey);
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.user-name {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

.user-address {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

/* Footer */
.main-footer {
  background-color: var(--basic-white);
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.footer-title {
  color: var(--basic-black);
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  margin: 0;
}

.preview-description {
  color: var(--basic-shades-charcoal);
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.footer-icon {
  background-color: var(--basic-shades-charcoal);
}

/*CATALOG*/
.catalog-title {
    color: var(--basic-black);
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
}

.cost {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.cost-of, 
.cost-to {
    color: var(--basic-black);
    font-size: 16px;
    line-height: 22px;  
}

.sort-description {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
}

.grid-title {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
}

.radio-name { 
    color: var(--basic-black);
    font-size: 16px;
    line-height: 20px;
}

.button-sort {
    color: var(--basic-black);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
} 

.opt-name {
    color: var(--basic-black);
    font-size: 16px;
    line-height: 20px;  
}

/*CATALOG SORT GALLERY */
.popup-info {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;  
    font-weight: 700;
}

.popup-description {
    color: var(--basic-dim-grey);
    font-size: 16px;
    line-height: 10px;  
}
