:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-grey: #a6a6a6;
  --basic-dim-grey: #666666;
  --basic-normal-grey: #c1c1c1;
  --basic-ultra-grey: #d5d5d5;
  --basic-dark-grey: #888888;
  --basic-medium-grey: #dfdfdf;
  --basic-shades-charcoal: #444444;
  --basic-grafit: #283136;
  --basic-light-grafit: #4d4d4d;
  --basic-light-grey: #eeeeee;
  --basic-grey-lighter: #e1e1e1;
  --basic-red: #fb565a;
  --basic-dark-red: #e74246;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-grafit);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

/* button */
.button {
  display: flex;
  justify-content: center;
  padding: 15px 40px;
  text-transform: uppercase;
  width: 160px;
  margin-top: 32px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-align: center;
  border: none;
  font-size: 16px;
  line-height: 18px;
}

.button-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  margin-top: 38px;
  margin-left: 0;
  padding: 15px 54px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
}

/*  Header */
.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-header-logo {
  display: flex;
  justify-self: start;
  grid-area: header-logo;
  outline: 5px solid rgba(200, 0, 0, 0.5);
  outline-offset: -5px;
}

.header-logo {
  margin-left: 5px;
}

.main-header-logo img:hover {
  opacity: 0.7;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.active::after{
  display: block;
  background-color: var(--basic-red);
  content: "";
  height: 2px;
  width: 100%;
}

.main-nav {
  padding-top: 48px;
  display: grid;
  grid-template-columns: 160px 1fr 115px;
  grid-template-areas: "header-logo list-navigation login-link";
  align-items: center;
  min-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}

.list-navigation {
  grid-area: list-navigation;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 45px;
  list-style: none;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.list-navigation a {
  display: block;
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
}

.list-navigation a:hover {
  color: var(--basic-red);
}

.list-navigation a:active {
  color: var(--basic-grey);
}

.user-navigation {
  display: block;
  position: relative;
  grid-area: login-link;
  outline: 5px solid rgba(200, 0, 0, 0.5);
  outline-offset: -5px;
}

.login-link {
position: relative;
margin-left: 35px;
}

.user-navigation .login-link  {
  color: var(--basic-black);
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.user-navigation a:hover {  
color: var(--basic-red);
}

.user-navigation a:focus {  
  color: var(--basic-grey);
}

.cart-logo {
  position: absolute;
  left: -25px;
  top: 4px;
}

/* Section */
.main-box {
  height: 431px;
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 760px;
  grid-template-areas: "main-block slide-block";
  line-height: 24px;
  font-size: 16px;
  color: var(--basic-grafit);
  background-color: var(--basic-light-grey);
  outline: 5px solid rgba(0, 47, 255, 0.7);
  outline-offset: -5px;
  margin: 0 auto;
  
}

.main-section-block {
  grid-area: main-block;
  outline: 5px solid rgba(166, 187, 47, 0.7);
  outline-offset: -5px;
}

.section-slide-block {
  position: relative;
  grid-area: slide-block;
  outline: 5px solid rgba(30, 158, 218, 0.7);
  outline-offset: -5px;
}

.slider {
  position: absolute;
  display: flex;
  column-gap: 17px;
  left: 139px;
  bottom: 96px;
}

.slider-background-logo {
  position: absolute;
  right: 15px;
  bottom: 5px;
}

.slider .slider-button {
  padding: 5px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.main-title {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  margin: 0;
  margin-top: 78px;
}

.paragraph-main-title {
  margin-left: 0;
  margin-top: 25px;
}

/* Order-Section */

.picture-list {
  padding: 0;
  margin: 0;
}

.orders-section {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 100px;
  grid-auto-rows: min-content;
  justify-content: start;
  padding: 0;
  margin-top:  80px;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grafit);
  background-color: var(--basic-white);
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.picture-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  outline: 5px solid rgba(218, 30, 140, 0.7);
  outline-offset: -5px;
}

.order-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 25px;
}

.order-description {
  margin-top: 16px;;
}

/* Present-section */
.present-list .present-items {
  list-style: none;
  margin-top: 23px;
  padding: 0;
}

.present-section {
  margin-top: 155px;
  display: grid;
  grid-template-columns: 651px 1fr;
  grid-template-areas: "present-section-block stat-section-block";
  color: var(--basic-grafit);
  font-size: 16px;
  line-height: 24px;
  background-color: var(--basic-white);
}

.present-section-block {
  grid-area: present-section-block;
  outline: 5px solid rgba(0, 47, 255, 0.7);
  outline-offset: -5px;
}

.stat-section-block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  grid-area: stat-section-block;
  text-align: center;
  outline: 5px solid rgba(18, 230, 230, 0.7);
  outline-offset: -5px;
}

.stat-list {
  display: flex;
  column-gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 64px;
  font-weight: 600;
  color: var(--basic-black);
  text-align: center;
}

.stat-section-logo {
  display: flex;
}

/* Statistic-percent */
.stat-title {
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 24px;
}

.stat-items sup {
  color: var(--basic-black);
  font-size: 26px;
  line-height: 40px;
  font-weight: 400;
}

.stat-items-p {
  color: var(--basic-grafit);
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin-top: 11px;
}

.present-title {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  margin: 0;
}

.present-description {
  margin-top: 32px;
}

.present-list-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 40px;
}

/* BRAND SECTION */
.brand-section {  
  outline: 5px solid rgba(166, 187, 47, 0.7);
  outline-offset: -5px;
  margin-top: 73px;
}

.brand-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

/*MAP NAVIGATION*/

.map-section {
  padding: 0;
  margin: 0 auto;
  margin-top: 80px;
  outline-offset: -5px;
  outline: 5px solid rgba(218, 30, 140, 0.7);
}

.map-logo {
  width: 100%;
}

.map-container {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.pin {
  background-color: cornflowerblue;
  position: absolute;
  right: 330px;
  top: 70px;
}

/* Pop-up-section */

.preview {
  padding: 50px;
  left: 140px;
  top: 50px;
  position: absolute;
  width: 319px;
  height: 308px;
  outline-offset: -5px;
  outline: 5px solid rgba(85, 177, 10, 0.7); 
  background-color: var(--basic-white);
}

.preview-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: var(--basic-black);
}

.preview-adress {
  color: var(--basic-dim-grey);
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.phone-number {
  color: var(--basic-dim-grey);
  margin-bottom: 37px;        
}

.map-button {
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  background-color: var(--basic-red);
  padding: 15px 44px;
  width: 219px;
  height: 50px;
  margin-bottom: 47px;
}

.user-name {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

.user-address {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

/* Footer */
.main-footer {
  display: flex;
  column-gap: 10px;
  width: 1060px;
  margin-bottom: 68px;
  max-height: 81px;
  margin-top: 68px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--basic-white);
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.footer-describe-container {
  display: flex;
  row-gap: 10px;
  margin-left: 139px;
  flex-direction: column;
  justify-content: center;
}

.footer-icon-container {
  display: flex;
  order: -1;
  column-gap: 10px;
}

.footer-title {
  margin: 0;
  align-self: center;
  color: var(--basic-black);
  font-size: 36px;
  padding: 0;
  line-height: 36px;
  font-weight: 600;
}

.footer-description {
  margin: 0;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  flex-shrink: 0;
  order: -1;
  background-color: var(--basic-grey-lighter);
  border-radius:50%;
}

.preview-description {
  color: var(--basic-shades-charcoal);
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 5px solid rgba(200, 0, 0, 0.5);
  outline-offset: -5px;
  margin: 0 auto;
  width: 319px;
}


/*CATALOG*/
.header-title-box {
  background-color: var(--basic-light-grey);
  height: 355px;
  outline: 5px solid rgba(0, 47, 255, 0.7);
  outline-offset: -5px;
}

.catalog-box {
  margin-top: 55px;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  grid-template-areas: "aside sort-content";
  grid-auto-rows: min-content;
  display: grid;
  align-content: start;
  outline: 5px solid rgba(245, 4, 24, 0.7);
  outline-offset: -5px;
}

.catalog-title {
  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 108px;
}

.picture-items {
  min-height: 347px;
}

.container-aside {
  grid-area: aside;
  outline: 5px solid rgba(218, 30, 140, 0.7);
  outline-offset: -5px;
}

.field-grid {
  outline: 5px solid rgba(18, 230, 230, 0.7);
  outline-offset: -5px;
  margin-top: 54px;
  border: none;
}

.opt-field {
  border: none;
  outline: 5px solid rgba(18, 230, 230, 0.7);
  outline-offset: -5px;
  margin-top: 54px;
}

.opt-title  {
  color: var(--basic-black);
  line-height: 30px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.sort-content {
  grid-area: sort-content;
  outline: 5px solid rgba(0, 47, 255, 0.7);
  outline-offset: -5px;
}

.sort-content-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  outline: 5px solid rgba(166, 187, 47, 0.7);
  outline-offset: -5px;
}

.sort-list  {
  display: flex;
  column-gap: 25px;
  outline: 5px solid rgba(18, 230, 230, 0.7);
  outline-offset: -5px;
  padding: 0;
  margin-top: 0;
}

.control-box {
  outline: 5px solid rgba(200, 0, 0, 0.5);
  outline-offset: -5px;
}

.control-content  {
  margin-top: 48px;
  height: 80px;
  text-align: center;
  background-color: var(--basic-light-grey);
}

.cost-title {
  margin: 0;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.control {
  background: var(--basic-green);
  margin-top: 40px;
  width: 205px;
  height: 2px;
  -webkit-appearance: none;
}

.cost-description {
  display: flex;
  justify-content: space-between;
}

.cost-box {
  background-color: var(--basic-light-grey);
  border: none;
  text-align: center;
  height: 38px;
  width: 80px;
  float: right;
}

.cost-text {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 22px;
}

.cost-contain {
  column-gap: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 0px;
}

.sort-description {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.grid-title {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.radio-name {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 20px;
}

.button-sort {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.button-show {
  width: 260px;
  height: 50px;
  border: none;
  margin-top: 48px;
  text-align: center;
  color: var(--basic-black);
  font-weight: 600;
  background-color: var(--basic-light-grey);
}

.opt-name {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 20px;
}

/*CATALOG SORT GALLERY */
.main-image-content {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  width: 760px;
}

.product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.product-item-popup {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.pagination-content {
  display: flex;
  column-gap: 10px;
  margin-top: 54px;

}

.popup-info {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.popup-description {
  color: var(--basic-dim-grey);
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}
